.hellow{
    color: rgb(228, 15, 15);
    
}
.mishuk{
    color: rgb(162, 238, 63);
    font-size: 40px;
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
} 
.header{
    text-align: center;
    padding: 150px;
    color: rgb(255, 254, 254);
    padding-top: 200px;
   
}
.lorem{
    text-align: center;
}
.body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0.753)), url('photo-1453928582365-b6ad33cbcf64.avif');
    background-attachment: fixed;
    background-size: cover; 
    background-position: center; 
    color: white;
    
}


.bangladesh{
    font-size: 30px;
}
.icon{
    font-size: 40px;
}
.img{
    height: 400px;
     padding-top: 100px;
}
.learn{
    color: white;
}
.web{
    color: green;
    font-size: 40px;
}

 .more{
     padding-left:100px; */
}
.flex{
    display: flex;
    padding-top: 100px;

     gap: 100px; 
   padding-bottom: 100px;
}
.btn{
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 0;
    line-height: 1;
    transition: all .3s;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    padding: 12px 24px;
    color: #FFF;
    background-color: #00AF43;
    border: 1px solid #00AF43;
    border-radius: 2px;
}
.banner{
    background-color: rgba(17, 14, 14, 0.295);
    padding-top: 10px;
    padding-bottom: 30px;
} 
.h3{
    padding-top: 100px;
}
.me{
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    color:rgb(144, 238, 21);
}

 .footer{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1rem;
   padding: 30px;
   padding-top: 0px;
} 
.assa{
    font-size: 50px;
   color: gold;
   text-align: center;
}
.container{

       margin: 20px; 
    background-color: rgba(17, 14, 14, 0.74) ; 
    padding: 10px;
    padding-right: 450px;
  
    
}
.w3-container{
    display: flex;
    gap: 40px;

    
}
 .w4{
   
    text-align: center;
    color: white;
    background-color: green;
    
 }
 .border{
 width: 500% ; 
 background-color: rgb(235, 226, 226);
 
 }
 .bor{
     width: 500%; 
   background-color: aliceblue;

 }
 .w5{
    width: 80%;
    text-align: center;
    color: white;
    
    background-color: green;
 }
.w6{
    text-align: center;
    color: white;
    
    background-color: green;
    width: 70%;
}
.w7{
    text-align: center;
    color: white;
    
    background-color: green;
    width: 70%;
}
.w8{
    text-align: center;
    color: white;
    
    background-color: green;
    width: 100%;
}
.w9{
    text-align: center;
    color: white;
    
    background-color: green;
    width: 95%;
}


.progress{
    background-color: rgba(17, 14, 14, 0.295);
     margin-top: 80px; 
      margin-bottom: 60px; 
     padding-bottom: 40px;
   
}
.skill{
    padding-left: 70px;
    padding-top: 20px;
}
.ski{
    padding: 40px;

}

.project{
    margin-right: 100px;
    background-color: rgba(17, 14, 14, 0.63);
    margin-left:20px ;
    width: 450px;
    
}
.fa{

    padding: 15px;
    color: rgb(107, 107, 250);
    font-size: 30px;
    border-radius: 45px;
    margin-top: -6.7rem;
    background-color:rgba(165, 136, 136, 0.247) ;
}
.complete{
    display: flex;
    text-align: center;
    margin: 20px;
    padding-left: 80px;
    
}

.temps img{
  height: 225px;
 max-width: 600px;
}
.doctor{

    text-align: center;
    background-color: rgba(17, 14, 14, 0.753); 
}
.c{
    color: coral;
    text-align: center;
    margin-top: 70px;
}
.app{
    background-color:rgba(17, 14, 14, 0.253); 
    padding: 40px;
    display: flex;
    gap: 50px;
}
.git{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: cyan;
    font-size: 20px;
}
.my{
   
    margin: 40px;
    display: flex;
    width: 50%;
    background-color: rgba(17, 14, 14, 0.534);
}
.dot{
    padding: 20px;
    font-size: 40px;
    color: #00AF43;
    display: flex;
}
.contact{
    background-color:rgba(17, 14, 14, 0.185);
    margin-bottom: 40px;
    
}
.g{
    display: flex;
    
}
.name{
    border: 2px solid white;
    width: 100%;
     height: 35px;
     background-color:rgba(17, 14, 14, 0.753) ;
     color: gold;
     padding: 20px;

}
.p{
 padding: 40px;
 color:gold;
 width: 100%;


}
.s{
    border: 2px solid white;
    width: 100%;
     height: 35px;
     background-color:rgba(17, 14, 14, 0.753) ;
   
     color: gold; 
     padding: 20px;
    
}
.sub{
    padding: 40px;
 
}
.m{
     border: 2px solid white; 
    width: 100%;
     height: 150px;
     background-color:rgba(17, 14, 14, 0.753) ;
    padding: 20px;
     color:gold;
}
.send{
    text-align: center;
    padding-top: 20px;
    
  
   
}
.thank{
    text-align: center;
}
.t{
    color: darkorange;
}
.you{
    color: deeppink;
}