.hellow{
    color: rgb(228, 15, 15);
    
}
.mishuk{
    color: rgb(162, 238, 63);
    font-size: 40px;
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
} 
.header{
    text-align: center;
    padding: 150px;
    color: rgb(255, 254, 254);
    padding-top: 200px;
   
}
.lorem{
    text-align: center;
}
.body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.753)), url('photo-1453928582365-b6ad33cbcf64.avif');
    background-attachment: fixed;
    background-size: cover; 
    background-position: center; 
    
}
.bangladesh{
    font-size: 30px;
}
.icon{
    font-size: 40px;
}